  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="Enter message..."></input>
    <div id="send-buttons">
	    <button id="send-message" class="send-button">Send Message</button>
	    <button id="send-vimoji" class="send-button">Send Message + Vimoji</button>
    </div>
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>